<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User | Music Store</title>
    <link rel="stylesheet" href="../views/style/register.css">
</head>

<body>

    <main>
        <div id="image">
            <img src="../assets/instruments.jpg" alt="">
        </div>
        <div id="userdata">
            <h2>Cadastre-se</h2>
            <input type="text" name="" id="inputname" placeholder="Insira seu nome">
            <br>
            <input type="text" name="" id="inputemail" placeholder="Insira seu e-mail">
            <br>
            <input type="password" name="" id="password" placeholder="Defina sua senha">

            <button id="enviar">Enviar</button>
        </div>
    </main>

    <script src="scripts/createUser.js"></script>
</body>

</html>